*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  color: #061224;
  height: 100%;
}
body .sec-1 {
  display: flex;
  justify-content: space-between;
  padding: 2px 0 0 0;
  background-color: #d2ddee;
  font-family: "Open Sans", sans-serif;
}
body .sec-1 h2 {
  width: 50%;
  font-size: 1.9rem;
  letter-spacing: 1px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
body .sec-1 nav {
  flex-direction: column-reverse;
  width: 50%;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  color: #061224;
}
body .sec-1 nav .sec-1 {
  display: flex;
  justify-content: space-between;
  padding: 2px 0 0 0;
  background-color: #d2ddee;
}
body .sec-1 nav .sec-1 h2 {
  width: 50%;
  font-size: 1.3rem;
  letter-spacing: 1px;
  padding-left: 10px;
}
body .sec-1 nav .sec-1 nav {
  display: flex;
  flex-direction: column-reverse;
  width: 50%;
  align-items: center;
}
body .sec-1 nav .sec-1 nav .links {
  display: flex;
  flex-direction: column;
}
body .sec-1 nav .sec-1 nav .links a {
  text-decoration: none;
  font-size: 0.9rem;
}
body .sec-1 nav .sec-1 nav .buttonLog {
  display: flex;
  width: 100%;
  padding-top: 6px;
}
body .sec-1 nav .sec-1 nav .buttonLog .sign {
  width: 45%;
  border: #5d78a1 solid 1px;
  border-radius: 20px;
  padding: 10px 8px 10px 8px;
  margin: 0 10px 0 0;
}
body .sec-1 nav .sec-1 nav .buttonLog .log {
  width: 45%;
  border: #5d78a1 solid 1px;
  border-radius: 20px;
  padding: 10px 8px 10px 8px;
}
body .sec-1 nav .sec-1 .tag2 {
  visibility: hidden;
}
body .sec-1 nav .sec-1 .tag4 {
  visibility: hidden;
}
body .sec-1 nav nav {
  display: flex;
}
body .sec-1 nav .sec-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("../img/desk.jpg");
  background-size: cover;
  background-color: #173eb180;
  background-blend-mode: multiply;
  height: 175px;
}
body .sec-1 nav .sec-2 h1 {
  color: #ffffff;
  font-size: 1.6rem;
  padding-left: 10px;
}
body .sec-1 nav .sec-2 .sign-up {
  display: flex;
  padding-left: 43px;
  width: 100%;
}
body .sec-1 nav .sec-2 .reg {
  width: 25%;
  border: #5d78a1 solid 1px;
  border-radius: 20px;
  padding: 10px 8px 10px 8px;
  color: #ffffff;
}
@media (min-width: 500px) {
  body .sec-1 nav body {
    max-width: 100%;
  }
  body .sec-1 nav #a2 {
    visibility: visible;
  }
  body .sec-1 nav #a4 {
    visibility: visible;
  }
  body .sec-1 nav .sec-1 {
    display: flex;
    flex-direction: row;
  }
  body .sec-1 nav .sec-1 h2 {
    width: 35%;
    font-size: 2rem;
    padding-left: 43px;
  }
  body .sec-1 nav .sec-1 nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 65%;
  }
  body .sec-1 nav .sec-1 nav .links {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    font-size: 1rem;
  }
  body .sec-1 nav .sec-1 nav .links a {
    width: 100%;
    text-align: center;
  }
  body .sec-1 nav .sec-1 nav .links a:hover {
    color: #073c8a;
  }
  body .sec-1 nav .sec-1 nav .buttonLog {
    width: 35%;
  }
  body .sec-1 nav .sec-1 nav .buttonLog .sign {
    box-shadow: -6px -3px #7d69f8;
    width: 100%;
    opacity: 0.6;
    transition: 0.3s;
    background-color: #d2ddee;
  }
  body .sec-1 nav .sec-1 nav .buttonLog .sign:hover {
    opacity: 1;
  }
  body .sec-1 nav .sec-1 nav .buttonLog .log {
    box-shadow: -6px -3px #7d69f8;
    width: 100%;
    background-color: #d2ddee;
    opacity: 0.6;
    transition: 0.3s;
  }
  body .sec-1 nav .sec-1 nav .buttonLog .log:hover {
    opacity: 1;
  }
  body .sec-1 nav .sec-2 .links {
    display: flex;
    flex-direction: column;
  }
  body .sec-1 nav .sec-2 .links a {
    text-decoration: none;
    font-size: 0.9rem;
  }
  body .sec-1 nav .sec-2 .buttonLog {
    display: flex;
    width: 100%;
    padding-top: 6px;
  }
  body .sec-1 nav .sec-2 .buttonLog .sign {
    width: 45%;
    border: #5d78a1 solid 1px;
    border-radius: 20px;
    padding: 10px 8px 10px 8px;
    margin: 0 10px 0 0;
  }
  body .sec-1 nav .sec-2 .buttonLog .log {
    width: 45%;
    border: #5d78a1 solid 1px;
    border-radius: 20px;
    padding: 10px 8px 10px 8px;
  }
  body .sec-1 nav .tag2 {
    visibility: hidden;
  }
  body .sec-1 nav .tag4 {
    visibility: hidden;
  }
}
body .sec-1 nav nav {
  display: flex;
}
body .sec-1 nav .sec-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("../img/desk.jpg");
  background-size: cover;
  background-color: #173eb180;
  background-blend-mode: multiply;
  height: 175px;
  font-family: "Open Sans", sans-serif;
}
body .sec-1 nav .sec-2 h1 {
  color: #ffffff;
  font-size: 1.6rem;
  padding: 4px 0px 0px 10px;
}
body .sec-1 nav .sec-2 .sign-up {
  display: flex;
  padding: 19px 0px 0px 52px;
  width: 100%;
}
body .sec-1 nav .sec-2 .reg {
  width: 25%;
  border: #5d78a1 solid 1px;
  border-radius: 20px;
  padding: 10px 8px 10px 8px;
  color: #ffffff;
}
@media (min-width: 500px) {
  body .sec-1 nav body {
    width: 100%;
  }
  body .sec-1 nav #a2 {
    visibility: visible;
  }
  body .sec-1 nav #a4 {
    visibility: visible;
  }
  body .sec-1 nav .sec-1 {
    display: flex;
    flex-direction: row;
  }
  body .sec-1 nav .sec-1 h2 {
    font-size: 2rem;
    padding-left: 43px;
  }
  body .sec-1 nav .sec-1 nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 65%;
    padding-bottom: 11px;
  }
  body .sec-1 nav .sec-1 nav .links {
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url("../img/desk.jpg");
    background-size: cover;
    background-color: #173eb180;
    background-blend-mode: multiply;
    height: 230px;
  }
  body .sec-1 nav .sec-1 nav .links a {
    width: 100%;
    text-align: center;
  }
  body .sec-1 nav .sec-1 nav .links a:hover {
    color: #073c8a;
  }
  body .sec-1 nav .sec-1 nav .links h1 {
    padding-left: 43px;
  }
  body .sec-1 nav .sec-1 nav .links div.sign-up {
    padding: 10px 0px 0px 65px;
  }
  body .sec-1 nav .sec-1 nav .links div.sign-up .reg {
    color: #061224;
    background-color: #d2ddee;
    font-size: 0.9rem;
    padding: 10px 4px 10px 4px;
    width: 18%;
  }
  body .sec-1 nav .sec-1 nav .links div.sign-up .reg:hover {
    background-color: #7d69f8;
  }
}
body .sec-1 nav .buttonLog {
  width: 35%;
}
body .sec-1 nav .buttonLog .sign {
  box-shadow: -6px -3px #7d69f8;
  width: 100%;
  opacity: 0.6;
  transition: 0.3s;
  background-color: #d2ddee;
}
body .sec-1 nav .buttonLog .sign:hover {
  opacity: 1;
}
body .sec-1 nav .buttonLog .log {
  box-shadow: -6px -3px #7d69f8;
  width: 100%;
  background-color: #d2ddee;
  opacity: 0.6;
  transition: 0.3s;
}
body .sec-1 nav .buttonLog .log:hover {
  opacity: 1;
}
body .sec-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("../img/desk.jpg");
  background-size: cover;
  background-color: #173eb180;
  background-blend-mode: multiply;
  height: 48vh;
}
body .sec-2 h1 {
  padding-left: 43px;
  padding-top: 40px;
  font-size: 3rem;
}
body .sec-2 div.sign-up {
  padding: 40px 0px 0px 65px;
}
body .sec-2 div.sign-up .reg {
  color: #061224;
  background-color: #d2ddee;
  font-size: 0.9rem;
  padding: 10px 4px 10px 4px;
  width: 18%;
}
body .sec-2 div.sign-up .reg:hover {
  background-color: #7d69f8;
}
#a2 {
  visibility: visible;
}
#a4 {
  visibility: visible;
}
.sec-1 {
  display: flex;
  flex-direction: row;
}
.sec-1 h2 {
  width: 35%;
  font-size: 2rem;
  padding-left: 43px;
}
.sec-1 nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 65%;
}
.sec-1 nav .links {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  font-size: 1rem;
}
.sec-1 nav .links a {
  width: 100%;
  text-align: center;
}
.sec-1 nav .links a:hover {
  color: #073c8a;
}
.sec-1 nav .buttonLog {
  width: 35%;
}
.sec-1 nav .buttonLog .sign {
  box-shadow: -6px -3px #7d69f8;
  width: 100%;
  opacity: 0.6;
  transition: 0.3s;
  background-color: #d2ddee;
}
.sec-1 nav .buttonLog .sign:hover {
  opacity: 1;
}
.sec-1 nav .buttonLog .log {
  box-shadow: -6px -3px #7d69f8;
  width: 100%;
  background-color: #d2ddee;
  opacity: 0.6;
  transition: 0.3s;
}
.sec-1 nav .buttonLog .log:hover {
  opacity: 1;
}
.sec-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("../img/desk.jpg");
  background-size: cover;
  background-color: #173eb180;
  background-blend-mode: multiply;
  height: 230px;
}
.sec-2 h1 {
  padding-left: 43px;
}
.sec-2 div.sign-up {
  padding: 10px 0px 0px 65px;
}
.sec-2 div.sign-up .reg {
  color: #061224;
  background-color: #d2ddee;
  font-size: 0.9rem;
  padding: 10px 4px 10px 4px;
  width: 18%;
}
.sec-2 div.sign-up .reg:hover {
  background-color: #7d69f8;
}
footer {
  width: 100%;
}
.foot {
  display: flex;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
  background-color: #132e56;
  padding: 20px 0;
  text-align: center;
}
.foot .foot-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: #ffffff;
}
.foot .foot-1 a {
  color: #ffffff;
  font-size: 0.7rem;
}
.foot-2 {
  display: flex;
  background-color: #132e56;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  justify-content: center;
  margin-top: 1px;
}
.foot-2 a {
  padding: 15px 0 15px 0;
  font-size: 0.7rem;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 100%;
}
body #u-v-p {
  width: 100%;
}
body #u-v-p div {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding: 5%  0;
}
body #u-v-p div h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 5rem;
  color: #073c8a;
  margin-bottom: 20px;
}
body #u-v-p div p {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  color: #5d78a1;
}
body #features {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%;
  padding: 3% 0;
  background-color: #EBF1FA;
}
body #features div {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2%;
  padding: 2%;
  width: 45%;
  max-width: 710px;
  min-height: 100px;
  border-radius: 5px;
  border: 1px solid grey;
}
body #features div .icons {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}
body #features div h3 {
  text-align: center;
  color: #073c8a;
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  margin-top: 4%;
  padding: 2%;
}
body #features div i {
  font-size: 100px;
  color: #073c8a;
  width: 100%;
  margin: 10px;
}
body #features div p {
  font-family: 'Open Sans', sans-serif;
  color: #5d78a1;
  font-size: 2.5rem;
}
footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #132E56;
  width: 98%;
}
footer nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}
footer nav a {
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 120%;
  width: 100%;
  padding: 5%;
  font-family: 'Open Sans', sans-serif;
}
#about {
  width: 100vw;
  min-height: 100vh;
  font-family: "Open sans", sans-serif;
  display: flex;
  flex-direction: column;
}
#about .header {
  display: flex;
  justify-content: space-between;
  background-color: #a9cbff;
  padding: 1rem 1.5rem;
  align-items: center;
}
#about .header .title {
  text-transform: uppercase;
  font-size: 2rem;
}
#about .header .navigation {
  min-width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;
}
#about .header .navigation a {
  text-decoration: none;
  color: inherit;
  padding: 0.8rem 2rem;
  font-weight: 500;
}
#about .header .navigation a:hover {
  border-top: 3px solid #125ccc;
}
#about .header .cta-btn {
  min-width: 6rem;
  background-color: #125ccc;
  color: #eff0f0;
  padding: 1rem;
  cursor: pointer;
}
#about .main-area {
  flex-grow: 1;
  padding: 1.5rem;
}
#about .main-area .heading {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
#about .main-area .team-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 0;
}
#about .main-area .team-list .profile {
  border: 1px solid black;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#about .main-area .team-list .profile .image-container {
  height: 20rem;
  overflow: hidden;
}
#about .main-area .team-list .profile .image-container img {
  width: 100%;
  height: auto;
}
#about .main-area .team-list .profile .text-container {
  text-align: center;
  text-transform: uppercase;
}
#about .main-area .team-list .profile .text-container p {
  padding-top: 0.5rem;
  font-size: 0.7rem;
}
