<<<<<<< HEAD
header {
=======
body {
    // box-sizing: border-box;
>>>>>>> origin/develop
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    width: 100%;
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    color: @neutral-1;
    
    .sec-1 {
      display: flex;
      justify-content: space-between;
      padding: 2px 0 0 0;
      background-color: @primary-5;
      h2 {
        width: 50%;
        font-size: 1.3rem;
        letter-spacing: 1px;
        padding-left: 10px;
      }
      nav {
        display: flex;
        flex-direction: column-reverse;
        width: 50%;
        align-items: center;
  
        .links {
          display: flex;
          flex-direction: column;
          a {
            text-decoration: none;
            font-size: 0.9rem;
          }
        }
        .buttonLog {
          display: flex;
          width: 100%;
          padding-top: 6px;
  
          .sign {
            width: 45%;
            border: @primary-2 solid 1px;
            border-radius: 20px;
            padding: 10px 8px 10px 8px;
            margin: 0 10px 0 0;
          }
          .log {
            width: 45%;
            border: @primary-2 solid 1px;
            border-radius: 20px;
            padding: 10px 8px 10px 8px;
          }
        }
      }//end nav
      .tag2 {
        visibility: hidden;
      }
      .tag4 {
        visibility: hidden;
      }
    }//end sec-1
    nav {
      display: flex;
    }
  
    .sec-2 {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-image: url("../img/desk.jpg");
      background-size: cover;
      background-color: #173eb180;
      background-blend-mode: multiply;
      height: 175px;
  
      h1 {
        color: @neutral-6;
        font-size: 1.6rem;
        padding-left: 10px;
      }
      .sign-up {
        display: flex;
        padding-left: 43px;
        width: 100%;
      }
      .reg {
        width: 25%;
        border: @primary-2 solid 1px;
        border-radius: 20px;
        padding: 10px 8px 10px 8px;
        color: @neutral-6;
      }
    }
    @media (min-width: 500px) {
      body {
        max-width: 100%;
      }
      #a2 {
        visibility: visible;
      }
      #a4 {
        visibility: visible;
      }
      .sec-1 {
        display: flex;
        flex-direction: row;
        h2 {
          width: 35%;
          font-size: 2rem;
          padding-left: 43px;
        }
        nav {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          width: 65%;
  
          .links {
            display: flex;
            flex-direction: row;
            width: 50%;
            justify-content: space-between;
            font-size: 1rem;
            a {
              width: 100%;
              text-align: center;
            }
            a:hover {
              color: @primary-4;
            }
          }
          .buttonLog {
            width: 35%;
            .sign {
              box-shadow: -6px -3px @accent-1;
              width: 100%;
              opacity: 0.6;
              transition: 0.3s;
              background-color: @primary-5;
            }
            .sign:hover {
              opacity: 1;
            }
            .log {
              box-shadow: -6px -3px @accent-1;
              width: 100%;
              background-color: @primary-5;
              opacity: 0.6;
              transition: 0.3s;
            }
            .log:hover {
              opacity: 1;
            }
          }
        }//end nav
      }//end sec-1
  
      .sec-2 {
=======
    width: 90%;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    color: @neutral-1;
    .sec-1{
        display: flex;
        justify-content: space-between;
        padding: 2px 0 0 0;
        background-color: @primary-5;
        h2{
            width:50%;
            font-size: 1.3rem;
            letter-spacing: 1px;
            padding-left: 10px;
        }
        nav{
            display:flex;
            flex-direction: column-reverse;
            width: 50%;
            align-items: center;

            .links{
                display: flex;
                flex-direction: column;
                a{
                text-decoration: none;
                font-size: .9rem;
                }

            }
            .buttonLog{
                display: flex;
                width: 100%;
                padding-top: 6px;

                .sign{
                    width: 45%;
                    border: @primary-2 solid 1px;
                    border-radius: 20px;
                    padding: 10px 8px 10px 8px;
                    margin: 0 10px 0 0;
                }
                .log{
                    width: 45%;
                    border: @primary-2 solid 1px;
                    border-radius: 20px;
                    padding: 10px 8px 10px 8px;
                }
            }
        }
        .tag2{
            visibility: hidden;
        }
        .tag4{
            visibility: hidden;
        
        }
    }
    nav{
        display:flex;
    }

    .sec-2{
>>>>>>> origin/develop
        display: flex;
        flex-direction: column;
        width: 100%;
        background-image: url("../img/desk.jpg");
        background-size: cover;
        background-color: #173eb180;
        background-blend-mode: multiply;
<<<<<<< HEAD
        height: 230px;
        h1 {
          padding-left: 43px;
        }
  
        div.sign-up {
          padding: 10px 0px 0px 65px;
          .reg {
            color: @neutral-1;
            background-color: @primary-5;
            font-size: 0.9rem;
            padding: 10px 4px 10px 4px;
            width: 18%;
          }
          .reg:hover {
            background-color: @accent-1;
          }
        }
      } //end sec-2
    } //end media
  }//end body
=======
        height: 175px;

        h1{
            color:@neutral-6;
            font-size: 1.6rem;
            padding-left: 10px;
        }
        .sign-up{
            display: flex;
            padding-left: 43px;
            width: 100%;
        }
        .reg{
            width: 25%;
                    border: @primary-2 solid 1px;
                    border-radius: 20px;
                    padding: 10px 8px 10px 8px;
                    color: @neutral-6;
        }
    
    }
    @media (min-width: 500px) {
        body{
            max-width: 90%;
        }
         #a2{
            visibility: visible;    
            }
         #a4{
            visibility: visible;    
            }
        .sec-1{
            display:flex;
            flex-direction: row;
            h2{
                width: 35%;
                font-size: 2rem;
                padding-left: 43px;
            }
            nav{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 65%;

                .links{
                    display: flex;
                    flex-direction: row;
                    width:50%;
                    justify-content: space-between;
                    font-size: 1.0rem;
                    a{
                        width: 100%;
                        text-align: center;
                        
                    }
                    a:hover{
                        color: @primary-4;
                    }
                      
                    
                }
                .buttonLog{
                    width: 35%;
                    .sign{
                        box-shadow: -6px -3px @accent-1;
                        width: 100%;
                        opacity: 0.6;
                        transition: 0.3s;
                        background-color: @primary-5;
                    }
                    .sign:hover {
                        opacity: 1;
                    }
                    .log{
                        box-shadow: -6px -3px @accent-1;
                        width: 100%;
                        background-color: @primary-5;
                        opacity: 0.6;
                        transition: 0.3s;
                    }
                    .log:hover {
                        opacity: 1;
                    }
                }
            }//end nav
        }//end sec-1
        
        .sec-2{
            display: flex;
            flex-direction: column;
            width: 100%;
            background-image: url("../img/desk.jpg");
            background-size: cover;
            background-color: #173eb180;
            background-blend-mode: multiply;
            height: 230px;
            h1{
                padding-left: 43px;
            }
            

            
            div.sign-up{
                padding: 10px 0px 0px 65px;
                .reg{
                    
                    color: @neutral-1;
                    background-color: @primary-5;
                    font-size: 0.9rem;
                    padding: 10px 4px 10px 4px;
                    width: 18%;
                }
                .reg:hover {
                    background-color: @accent-1;
                    
                }
                }
            
        }//end sec-2
    }//end media
   


}







   // }   // END MEDIA TAG------=-=-=-=-=-=-=-=-=

//}
//   .nav {
//     display: flex;
//     flex-direction: column;
//     height: 20%;
//     width: 90%;
//     background-color: @primary-5;
//     margin: auto;
    
//     nav {
//       display: flex;
//       flex-direction: column;
//       width: 100%;
//       margin: auto;
//       background-color: @neutral-5;
//       background-image: url("../img/luxury.jpg");
//       opacity: .5;
//       a {
//         text-decoration: none;
//         text-align: center;
//         color: @neutral-1;
//         font-size: 1.1rem;
//         width: 90%;
//         margin: auto;
//         border: @primary-4 solid 2px;
//         padding: 20px 0 20px 0px;
//         border-radius: 22px;
//         margin-top: 30px;
//         background-color: @primary-5;
//         font-family: Arial, Helvetica, sans-serif;
        
//     }
//     }
//     h1{
//         font-size: 2.1rem;
//     }
  
//   div div {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     width: 30%;

    
//   }

//     }
//     div.nav div h2{
//         font-size: 100%;
//     }
//      div.nav div.top div button.sign{
        
//         text-align: center;
//         color: @neutral-1;
//         font-size: 1.1rem;
//         width: 87%;
//         margin: auto;
//         border: @primary-4 dotted 2px;
//         padding: 10px 0 10px 0px;
//         border-radius: 22px;
//         margin-top: 22px;
//         background-color: @primary-5;
        
//     }
//     div{
//         display: flex;
//         justify-content: center;
//     }
//     footer{
//         background-color: @neutral-2;
//         color: @neutral-6;
//     }
//     div.nav footer div.foot-1 a{
//         color:@neutral-6;
//         margin: 20px 0;
//         font-size: 1.08rem;
//         text-decoration: none;
//         border-right: @neutral-6 solid 1px;
//         padding: 0px 20px 0 20px;
//         }
//         div.nav footer div.foot-1 a#noLine{
//             border-right: none;
        
//     }

//     div.nav footer .foot-2{
//         display: flex;
//         justify-content: space-between;
//         margin: 20px 9px;
//         font-size: .80rem;
        
//     }


// //--------------------------------------------------------
//  @media (min-width: 500px) {
//         body{
//             width: 90%;

//         }
//         h1{
//             font-size: 2.1rem;
//         }
//         div.nav div.top{
//             display: flex;
//             justify-content: space-evenly;
//         }
//         div.nav div.top div button.sign{
//             border:@neutral-1 solid 1px;
//             width: 60%;
//         }
//         nav.navBars{
//             display: flex;
//             flex-direction: row;
//             background-color: @neutral-5;
//             width: 95%;
//             a{
//                 border: none;
//                 margin-top: 0;
//                 border-radius: 0;
//                 box-shadow: -10px -11px 10px 0px @primary-1;
//               
//             }
//             a:hover{
//                 background-color: @neutral-3;
//             }
//         }
//     }//-------------end media tag
// }
>>>>>>> origin/develop
